<!-- OCRServer/templates/index.html -->

{% extends 'base.html' %}

{% block title %}OCRServer{% endblock %}

{% block content %}
   <div class="status">
       <h2 class="title-small-text">Server Status</h2>
       <div class="{{ indicator }} dot"></div>
       <table>
           <tr>
               <td><p id="current-date-time" class="caption-text">{{ current_date }}</p></td>
           </tr>
           <tr>
               <td class="caption-text">STATUS</td>
               <td class="caption-text">{{ status }}</td>
               <td class="caption-text">Uptime</td>
               <td class="caption-text">{{ uptime }} seconds</td>
           </tr>
           <tr>
               <td class="caption-text">Processed Requests</td>
               <td class="caption-text">{{ processed_requests }}</td>
           </tr>
       </table>
   </div>

   <div class="logs" style="background-color: {% for log_color in log_colors %}{{ log_color }}{% if not loop.last %},{% endif %}{% endfor %};">
       <h2 class="title-small-text">Server Logs</h2>
       <ul>
           {% if log_entries %}
               {% for log_entry in log_entries %}
                   <li class="caption-text">{{ log_entry }}</li>
               {% endfor %}
           {% else %}
               <li class="caption-text gray">No log entries available.</li>
           {% endif %}
       </ul>
       <a href="{{ url_for('demo') }}">
           <div class=" button submit-button">DEMO</div>
       </a>
   </div>
{% endblock %}
